@import "variables.scss";

#main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-body {
  padding-top: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 1rem;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.3rem;
  font-weight: 800;
  color: $almost-white;
  background-color: rgba($color: #000000, $alpha: 0.0);
  border: 2px solid $almost-white;
  transition: .2s ease-in-out;
  &:hover {
    background-color: $almost-white;
    color: $magic-red;
    border-radius: 1rem;
  }
}