@import "variables.scss";

#display-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    // & h2 {
    //   grid-column-start:1;
    //   grid-column-end: span 2;
    // }
  }

  #display-zone-content {
      display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #display-zone-title {
      text-align: center;
  }


.single-card {
    width: 300px;
    height:  450px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 267px;
    height: 370px;
}

.add-card-button {
  margin-top: 1em;
  border-color: $magic-red;
  color: $magic-red;
  &:hover {
    background-color: $magic-red;
    color: $almost-white;
  }
}