@import "variables.scss";

#inputArea {
    padding: 1rem 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: $magic-red;
    position: fixed;
    top: 0;
  }

  label {
    color: $almost-white;
  }

  input, select {
    border: none;
  }